
  <div class="container">
    <div class="left-panel">
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
          </tr>
        </thead>
        <tbody>
          @for (auteur of Auteurs; track auteur.iDauteur ) { 
            <tr>
            <td>{{ auteur.nom }}</td>
            <td>{{ auteur.prenom }}</td>
            </tr>
          }
         
        </tbody>
      </table>
    </div>
  

<div class="right-panel">
  <div>
    <app-add-author (event)="getEvent($event)"></app-add-author>
  </div>
</div>
</div>